<form class="form-signin" (submit)="login($event, username.value, password.value)">
  <h1 class="form-signin-heading"><span class="ion-fireball"></span></h1>
  <h2 class="form-signin-heading">Sign in to {{ leagueName }} Inferno</h2>

  <label for="username_field" class="sr-only">E-Mail Address</label>
  <input class="form-control" id="username_field" #username maxlength="255"
         name="username_field" placeholder="E-mail address" type="text" required="required"
         autofocus="autofocus"/>

  <label for="password_field" class="sr-only">Password</label>
  <input class="form-control" id="password_field" #password maxlength="30"
         name="password_field" placeholder="Password" type="password" required="required"/>



  <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Sign in</button>


  <a class="btn btn-outline-info btn-block" href="#">Reset Password</a>


  <a class="btn btn-outline-info btn-block" routerLink="/sign-up"
     title="Join {{ leagueName }} Inferno">Join
    {{ leagueName }} Inferno!</a>
</form>
