<nav *ngIf="_auth.isLoggedIn()" class="navbar navbar-toggleable-md navbar-fixedtop navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">
    <span class="ion-fireball"></span>
    NUInferno - {{ leagueName }}
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="/my-sessions"  routerLinkActive="active" id="navbarDropdownSessionMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Sessions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownSessionMenuLink">
          <a class="dropdown-item" routerLink="/my-sessions" routerLinkActive="active">My Sessions &amp; Commitments</a>
          <a class="dropdown-item" routerLink="/my-sessions-calendar" routerLinkActive="active">My Calendar</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/commitments" routerLinkActive="active">Commitments</a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAttendanceMenuLink" routerLinkActive="active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Attendance
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownAttendanceMenuLink">
          <a class="dropdown-item" routerLink="/sessions-attendance" routerLinkActive="active">All Session Attendance</a>
          <a class="dropdown-item" routerLink="/members-attendance" routerLinkActive="active">All Member Attendance</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/new-session" routerLinkActive="active">New Session</a>
      </li>

    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/my-profile" routerLinkActive="active">{{ _auth.displayName() }}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{adminUrl}}" routerLinkActive="active">Admin</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" routerLink="/sign-out">Sign Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{icalUrl}}" title="iCalendar Link"><span class="ion-calendar"></span></a>
      </li>
    </ul>

  </div>
</nav>

<div class="container">

  <router-outlet></router-outlet>

</div>
